body{
  background-image: url('https://assets.architecturaldigest.in/photos/62de71b36b9540618ef0a42b/16:9/w_1600,c_limit/13%20stunning%20university%20libraries%20around%20the%20world.jpg');
  
}
.form{
  display: block;
  width: 95%;
  margin: auto;
  background-color: rgba(47, 79, 79, 0.897);
  color: lightgray;   
  border-radius: 10px;
}
.email{
  color: #00b7b7cc;
}
h2{
  margin: 2% auto auto 0%;
}
.formButton{
  margin: auto auto 1%;
}
.formButtonn{
  margin: auto auto 2% 2.5%
}

.notes{
  width: 95%;
  margin: auto;
  background-color: rgba(47, 79, 79, 0.897);
  color: lightgray;   
  border-radius: 10px;

}
.icon{
  font-size: 4vh;
}
.table{
  margin: auto;
  width: 70vw;
  background-color: darkslategrey;
  color: lightgray;  
  border-radius: 5px;
}
